@CHARSET "ISO-8859-1";
table{
	text-align: center;
	vertical-align: center;
}
.description {
    max-width: 300px;
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.description:hover {
    text-overflow: clip;
    white-space: normal;
}